<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="10" name="Test">
    <classes>
		
		<class name="testNg_PageObjects.Valid_InvalidloginT"/>
		<class name="testNg_PageObjects.ArrayPageT"/>
		<class name="testNg_PageObjects.LinkedListPageT"/>	
		<class name="testNg_PageObjects.StackPageT"/>
		<class name="testNg_PageObjects.QueuePageT"/>
		<class name="testNg_PageObjects.TreePageT"/>
		 <class name="testNg_PageObjects.GraphPageT"/>
		 <class name="testNg_PageObjects.DataStructurePageT"/>
		
		
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
